<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/landing-page/head'); %>
  </head>
  <body onload="loadAnimations()">
    <%- include('components/landing-page/bg'); %>
    <%- include('components/landing-page/nav'); %>
    <%- include('components/landing-page/main'); %>
    <%- include('components/landing-page/features'); %>
    <%- include('components/landing-page/features-dark'); %>
    <%- include('components/landing-page/footer'); %>
    <%- include('components/landing-page/script'); %>
    
  </body>
</html>
