<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('components/landing-page/head'); %>
  </head>
  <body onload="loadAnimations()">
    
    <!-- BG -->
    <%- include('components/landing-page/bg'); %>
    <!-- nav -->
    <%- include('components/landing-page/nav'); %>
    <!-- main -->
    <%- include('components/landing-page/main'); %>
    <!-- features -->
    <%- include('components/landing-page/features'); %>
        <!-- features dark -->
    <%- include('components/landing-page/features-dark'); %>
        <!-- footer -->
    <%- include('components/landing-page/footer'); %>

    <!-- script -->
    <%- include('components/landing-page/script'); %>
  </body>
</html>
