

<nav>
  <section class="logo">
    <a href="">
      <img src="/assets/svgs/logo-svg.svg" alt="" />
    </a>
  </section>
  <section class="links">
    <a href="https://marasoftpay.blogspot.com/">
      <span> Resources </span>
     <%- include('../reusables/arrow-svg') %>
    </a>
    <a href="https://developers.marasoftpay.com/">
      <span> Developers </span>
      <%- include('../reusables/arrow-svg') %>
    </a>
    <a href="https://marasoftpay.com">
      <span> About us </span>
      <%- include('../reusables/arrow-svg') %>
    </a>
  </section>
  <section class="cta">
    <a href="https://dashboard.marasoftpay.com/login/" class="login">
      <span> Log In </span>
      <%- include('../reusables/arrow-svg') %>
    </a>
    <a href="https://dashboard.marasoftpay.com/register/" class="signup">
      <span> Sign Up </span>
      <%- include('../reusables/arrow-svg') %>
    </a>
  </section>
  <!-- toggle -->
  <button class="nav-toggle open" id="nav-toggle">
    <img src="/assets/svgs/nav-toggle-open.svg" >
  </button>

  <!-- dropdown -->
  <div id="nav-dropdown" class="close">
    <a  href="https://marasoftpay.blogspot.com/" >
      <span>Developers</span>
      <%- include('../reusables/arrow-svg') %> 
    </a>
    <a href="https://dashboard.marasoftpay.blogspot.com">
      <span>Resources</span>
      <%- include('../reusables/arrow-svg') %> 
    </a>
    <a href="https://marasoftpay.com">
      <span>Our Company</span>
      <%- include('../reusables/arrow-svg') %> 
    </a>
    <a href="https://dashboard.marasoftpay.com/login/">
      <span>Login</span>
      <%- include('../reusables/arrow-svg') %> 
    </a>
    <a href="https://dashboard.marasoftpay.com/register/" data-position="last">
      <span>Sign up</span>
      <%- include('../reusables/arrow-svg') %> 
    </a>
  </div>
</nav>
